html {
  box-sizing: border-box
}

body {
  margin: 0;
  background-color: rgb(242, 236, 236);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
      'Helvetica Neue', sans-serif; 
}

nav ul {
  flex-wrap: nowrap;
  margin: 2vmin;
  display: flex;
  flex-direction: ROW;
  justify-content: center;

}
nav ul li {
  letter-spacing: 1.3px;
  margin: 2vmin;
  text-decoration: none;
  font-size:5vmin ;
  
}
nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
nav ul li a:hover {
  text-decoration: none;
  color: rgb(104, 179, 178);
}

nav ul li a.active {
  color: rgb(122, 203, 201);
  cursor: default;
  border-bottom: none;
}

