{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/style.css' %}"
/>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">

  </div>


  <h1>{{tipsCatgory.title}}</h1>
  <section class="card-container">
    {% for tips in tipsCatgory.tips_set.all %}
      <div class="card">
          <div class="card-content">
            <div class="card-img-container">
            </div>
            <h2 class="card-title">{{ tips.title }}</h2>
            <p>{{ tips.description }}</p>
            <div class="cat-actions">
            <a href="{% url 'tips_update' tips.id %}" class="btn warn">Edit</a> 
            <a href="{% url 'tips_delete' tips.id %}" class="btn danger">Delete</a> 
          </div>
        </div>
      </a>
      </div>
    {% endfor %}
    
  </section>
  </div>


<div class="page-header">
  <h1>Add a Tip</h1>
  
</div>
{% comment %} 
  Leaving the action empty makes the form post to the same url used to display it
{% endcomment %}
<form 
action="{% url 'add_tip' tipsCatgory.id %}" 
method="post" 
class="form-container"
>
  {% csrf_token %}
  {{ tips_form.as_table }}
  <button type="submit" class="btn submit">Submit!</button>
</form>
</section>
{% endblock %}