{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
{% endblock %} 

{% block content %}

<section class="page-header">
  <h1>Catgory list</h1>
</section>
<section 
  id='{{tip.color}}'
  class="card-container"
>
  {% for tip in tipsCatgory %}
    <div class="card">
      <a href="/tips-catgory/{{ tip.id }}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              class="tips-img"
              src="{{ tip.description  }}" 
              alt="A skater boy cat"
            >
          </div>
          <h2 class="card-title">{{ tip.title }}</h2>
        </div>
    </a>
    </div>
  {% endfor %}
</section>
{% endblock %}