{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
{% endblock %} 

{% block content %}

<section class="page-header">
  <h1> </h1>
</section>
<section class="catgory-page">
  {% for tip in tipsCatgory %}
    <div class="card">
      <a href="/tips-catgory/{{ tip.id }}">
          <div class="card-img-container">
            <img 
              class="tips-img"
              src="{{ tip.description  }}" 
              alt="catogory"
            >
          </div>
          <h2 class="card-title">{{ tip.title }}</h2>
    </a>
    </div>
  {% endfor %}
</section>

{% endblock %}