{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

{% endblock %} 

{% block content %}

<section class="milestone">
  <h1 id='milestone-header'>Milestones</h1>
  
  {% for ms in milestone %}
  <div class='milestone-card'>
  <h1> {{ms.description}} <h1> 
    <p>{{ms.date}}</p>
    <p>{{ms.get_age_display}}</p>
    <div class="milestone-img">
      {% if ms.photo.url %}
      <img 
      src="{{ms.photo.url}}" 
      alt="A photo of {{ms.name}}"
      class="usr-img"
      >
      {% else %}
      <a href="/profile/milestoneCreate/{{ms.id}}/">add photo</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
      <a href="{% url 'milestone-create' %}">add milestone</a>
</section>

{% endblock %}

